<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Order Summary</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider color="light">
    <ion-label>
      Pick-up info
    </ion-label>
  </ion-item-divider>
  <div padding>
    <ion-card-subtitle>Restaurant: <span class="black">Spice India</span></ion-card-subtitle><br>
    <ion-card-subtitle>Address: <span class="black">No.24, Gracy street, London</span></ion-card-subtitle><br>
    <ion-card-subtitle>Pick-up time: <span class="black">3:20 PM</span></ion-card-subtitle>
  </div>
  <ion-item-divider color="light">
    <ion-label>
      Delivery info
    </ion-label>
  </ion-item-divider>
  <div id="map_canvas"></div>
  <div padding>
    <ion-card-subtitle>Buyer: <span class="black">Sherlock Holmes</span></ion-card-subtitle><br>
    <ion-card-subtitle>Address: <span class="black">221B, Baker street, London</span></ion-card-subtitle><br>
    <ion-card-subtitle>Delivery time: <span class="black">3:45 PM</span></ion-card-subtitle>
  </div>
  <ion-item-divider color="light">
    <ion-label>
      Specifications
    </ion-label>
  </ion-item-divider>
  <div padding>
    <ion-card-subtitle><i>Nothing explicitly specified by the customer.</i></ion-card-subtitle>
  </div>
</ion-content>